@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.icon.profile {
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='68' viewBox='0 0 80 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 56V53.4C8 52.04 8.64 50.76 9.64 50.16C16.4 46.12 24.12 44 32 44C32.12 44 32.2 44 32.32 44.04C32.72 41.24 33.52 38.56 34.68 36.12C33.8 36.04 32.92 36 32 36C22.32 36 13.28 38.68 5.56 43.28C2.04 45.36 0 49.28 0 53.4V64H37.04C35.36 61.6 34.04 58.88 33.16 56H8Z' fill='black'/%3E%3Cpath d='M32 32C40.84 32 48 24.84 48 16C48 7.16 40.84 0 32 0C23.16 0 16 7.16 16 16C16 24.84 23.16 32 32 32ZM32 8C36.4 8 40 11.6 40 16C40 20.4 36.4 24 32 24C27.6 24 24 20.4 24 16C24 11.6 27.6 8 32 8Z' fill='black'/%3E%3Cpath d='M75 48C75 47.12 74.88 46.32 74.76 45.48L79.32 41.44L75.32 34.52L69.52 36.48C68.24 35.4 66.8 34.56 65.2 33.96L64 28H56L54.8 33.96C53.2 34.56 51.76 35.4 50.48 36.48L44.68 34.52L40.68 41.44L45.24 45.48C45.12 46.32 45 47.12 45 48C45 48.88 45.12 49.68 45.24 50.52L40.68 54.56L44.68 61.48L50.48 59.52C51.76 60.6 53.2 61.44 54.8 62.04L56 68H64L65.2 62.04C66.8 61.44 68.24 60.6 69.52 59.52L75.32 61.48L79.32 54.56L74.76 50.52C74.88 49.68 75 48.88 75 48ZM60 56C55.6 56 52 52.4 52 48C52 43.6 55.6 40 60 40C64.4 40 68 43.6 68 48C68 52.4 64.4 56 60 56Z' fill='black'/%3E%3C/svg%3E%0A");

}

.icon.search {
	background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 44H46.84L45.72 42.92C49.64 38.36 52 32.44 52 26C52 11.64 40.36 0 26 0C11.64 0 0 11.64 0 26C0 40.36 11.64 52 26 52C32.44 52 38.36 49.64 42.92 45.72L44 46.84V50L64 69.96L69.96 64L50 44ZM26 44C16.04 44 8 35.96 8 26C8 16.04 16.04 8 26 8C35.96 8 44 16.04 44 26C44 35.96 35.96 44 26 44Z' fill='black'/%3E%3C/svg%3E%0A");
}

.icon.globe {
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.96 0C17.88 0 0 17.92 0 40C0 62.08 17.88 80 39.96 80C62.08 80 80 62.08 80 40C80 17.92 62.08 0 39.96 0ZM67.68 24H55.88C54.6 19 52.76 14.2 50.36 9.76C57.72 12.28 63.84 17.4 67.68 24ZM40 8.16C43.32 12.96 45.92 18.28 47.64 24H32.36C34.08 18.28 36.68 12.96 40 8.16ZM9.04 48C8.4 45.44 8 42.76 8 40C8 37.24 8.4 34.56 9.04 32H22.56C22.24 34.64 22 37.28 22 40C22 42.72 22.24 45.36 22.56 48H9.04ZM12.32 56H24.12C25.4 61 27.24 65.8 29.64 70.24C22.28 67.72 16.16 62.64 12.32 56ZM24.12 24H12.32C16.16 17.36 22.28 12.28 29.64 9.76C27.24 14.2 25.4 19 24.12 24ZM40 71.84C36.68 67.04 34.08 61.72 32.36 56H47.64C45.92 61.72 43.32 67.04 40 71.84ZM49.36 48H30.64C30.28 45.36 30 42.72 30 40C30 37.28 30.28 34.6 30.64 32H49.36C49.72 34.6 50 37.28 50 40C50 42.72 49.72 45.36 49.36 48ZM50.36 70.24C52.76 65.8 54.6 61 55.88 56H67.68C63.84 62.6 57.72 67.72 50.36 70.24ZM57.44 48C57.76 45.36 58 42.72 58 40C58 37.28 57.76 34.64 57.44 32H70.96C71.6 34.56 72 37.24 72 40C72 42.76 71.6 45.44 70.96 48H57.44Z' fill='black'/%3E%3C/svg%3E%0A");
	cursor: pointer;
}

.icon .close {
	background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 5.64L50.36 0L28 22.36L5.64 0L0 5.64L22.36 28L0 50.36L5.64 56L28 33.64L50.36 56L56 50.36L33.64 28L56 5.64Z' fill='black'/%3E%3C/svg%3E%0A");
}